<h2>Welcome, <%= session[:name] %></h2>
<%= form_tag({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <%= submit_tag "Logout" %><br>

  <%= link_to 'Secret', {controller: 'secrets', action: 'show'} %>
<% end %>